.loading-screen {
  // options
  --ls-opts-top: 37.5%;
  --ls-opts-bar-color: #1890ff;
  --ls-opts-bar-width: 4px;
  --ls-opts-text-color: #999;

  position: absolute;
  left: 50%;
  top: var(--ls-opts-top);
  transform: translate(-50%, -50%);
  color: var(--ls-opts-text-color);
  font-size: 12px;
  > .spinner {
    width: 60px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
    & > div {
      background-color: var(--ls-opts-bar-color);
      height: 100%;
      width: var(--ls-opts-bar-width);
      display: inline-block;
      -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
      animation: sk-stretchdelay 1.2s infinite ease-in-out;
      margin-left: 3px;
    }

    & > .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    & > .rect3 {
      -webkit-animation-delay: -1s;
      animation-delay: -1s;
    }

    & > .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    & > .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }

  @-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    to {
      -webkit-transform: scaleY(0.4);
    }

    20% {
      -webkit-transform: scaleY(1);
    }
  }

  @keyframes sk-stretchdelay {
    0%,
    40%,
    to {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }

    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }
}
